.mediaViewInfo {
    --web-view-name: add comment;
    --web-view-id: add_comment;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: add_comment;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#add_comment {
    position: absolute;
    width: 414px;
    height: 896px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: add comment;
    --web-view-id: add_comment;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Rectangle_9 {
    fill: rgba(112,112,112,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 414px;
    height: 896px;
    left: 0px;
    top: 0px;
}
#Btn-3 {
    position: absolute;
    width: 251px;
    height: 64px;
    left: 82px;
    top: 650px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: view;
    --web-action-target: Map;
    cursor: pointer;
}
#Rectangle_2 {
    fill: rgba(84,247,130,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 251px;
    height: 64px;
    left: 0px;
    top: 0px;
}
#LOGIN {
    left: 62px;
    top: 18px;
    position: absolute;
    overflow: visible;
    width: 143px;
    height: 28px;
    text-align: left;
    font-family: VCR OSD Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Rectangle_11 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 341px;
    height: 477px;
    left: 37px;
    top: 125px;
}
#DESCRIPTION {
    left: 61px;
    top: 158px;
    position: absolute;
    overflow: visible;
    width: 199px;
    height: 21px;
    text-align: center;
    font-family: VCR OSD Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}