.mediaViewInfo {
    --web-view-name: Login;
    --web-view-id: Login;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Login;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Login {
    position: absolute;
    width: 414px;
    height: 896px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Login;
    --web-view-id: Login;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Rectangle_3 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 295px;
    height: 43px;
    left: 60px;
    top: 307px;
}
#Rectangle_4 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 295px;
    height: 43px;
    left: 60px;
    top: 420px;
}
#NOM_DUTILISATEUR {
    left: 74px;
    top: 272px;
    position: absolute;
    overflow: visible;
    width: 268px;
    height: 25px;
    text-align: left;
    font-family: VCR OSD Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
}
#MOT_DE_PASSE {
    left: 110px;
    top: 386px;
    position: absolute;
    overflow: visible;
    width: 195px;
    height: 25px;
    text-align: left;
    font-family: VCR OSD Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
}
#Btn-3 {
    position: absolute;
    width: 251px;
    height: 64px;
    left: 78px;
    top: 518px;
    overflow: visible;
    transition: all 0.3s ease-out;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Map.html;
    cursor: pointer;
}
#Rectangle_2 {
    fill: rgba(84,247,130,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 251px;
    height: 64px;
    left: 0px;
    top: 0px;
}
#LOGIN {
    left: 71px;
    top: 18px;
    position: absolute;
    overflow: visible;
    width: 125px;
    height: 28px;
    text-align: left;
    font-family: VCR OSD Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Text {
    left: 114px;
    top: 433px;
    position: absolute;
    overflow: visible;
    width: 188px;
    white-space: nowrap;
    text-align: left;
    font-family: Damascus;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
}
#MON_SUPER_VOISIN_47 {
    left: 88px;
    top: 321px;
    position: absolute;
    overflow: visible;
    width: 240px;
    white-space: nowrap;
    text-align: left;
    font-family: Damascus;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}