<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/components/comment.css">
    <title>Happy Street comment</title>
</head>
<body>
    <div id="add_comment">
        <svg class="Rectangle_9">
            <rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="414" height="896">
            </rect>
        </svg>
        <div onclick="application.goToTargetView(event)" id="Btn-3" class="Btn_3">
            <svg class="Rectangle_2">
                <rect id="Rectangle_2" rx="10" ry="10" x="0" y="0" width="251" height="64">
                </rect>
            </svg>
            <div id="LOGIN">
                <span>AJOUTER</span>
            </div>
        </div>
        <svg class="Rectangle_11">
            <rect id="Rectangle_11" rx="23" ry="23" x="0" y="0" width="341" height="477">
            </rect>
        </svg>
        <div id="DESCRIPTION">
            <span>DESCRIPTION…</span>
        </div>
    </div>
</body>
</html>