<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/components/logIn.css">
    <title>Happy Street log in</title>
</head>
<body>
    <div id="Login">
        <svg class="Rectangle_3">
            <rect id="Rectangle_3" rx="12" ry="12" x="0" y="0" width="295" height="43">
            </rect>
        </svg>
        <svg class="Rectangle_4">
            <rect id="Rectangle_4" rx="12" ry="12" x="0" y="0" width="295" height="43">
            </rect>
        </svg>
        <div id="NOM_DUTILISATEUR">
            <span>NOM D’UTILISATEUR</span>
        </div>
        <div id="MOT_DE_PASSE">
            <span>MOT DE PASSE</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Btn-3" class="Btn_3">
            <svg class="Rectangle_2">
                <rect id="Rectangle_2" rx="10" ry="10" x="0" y="0" width="251" height="64" onClick="window.open('http://127.0.0.1:5500/src/components/iframe/iframeHomePage.html');">
                </rect>
            </svg>
            <div id="LOGIN">
                <span onClick="window.open('http://127.0.0.1:5500/src/components/iframe/iframeHomePage.html');">ENTRER</span>
            </div>
        </div>
        <div id="Text">
            <span>*********</span>
        </div>
        <div id="MON_SUPER_VOISIN_47">
            <span>MON_SUPER_VOISIN_47</span>
        </div>
    </div>
</body>
</html>